body {
    background-color: gray;
    color: white;
    font-family: Verdana;
    font-size: 20px;
}
#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.rectangle {
    width: 960px;
    margin: 20px;
    text-align: center;
}
.square {
    width: 960px;
    margin: 20px;
}
#logo {
    float: left;
    font-size: 70px;
    width: 500px;
    text-align: left;
}
#motto {
    float: left;
    font-size: 70px;
    text-align: left;
}
.tile1 {
    float: left;
    width: 300px;
    margin: 5px;
    height: 150px;
    background-color: aqua;
    text-align: center;
}
.tile2 {

}