<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Witamy w naszej pizzeri</title>

    <link rel="stylesheet" th:href="@{/styles.css}" type="text/css">
</head>
<body>
    <div id="container">

        <div class="rectangle">
            <div id="logo">Pizza Heart</div>
            <div id="motto">Best Pizza</div>
            <div style="clear: both"></div>
        </div>

        <div class="square">

            <div class="tile1">
                <a th:href="@{/menu.html}" target="_blank"><h2>Menu</h2></a>
            </div>

            <div class="tile1">
                <a th:href="@{/us.html}" target="_blank"><h2>O nas</h2></a>
            </div>

            <div class="tile1">
                <a th:href="@{/history.html}" target="_blank"><h2>Nasza historia</h2></a>
            </div>

            <div class="tile1">
                <a th:href="@{/address.html}" target="_blank"><h2>Tutaj jesteśmy</h2></a>
            </div>

            <div style="clear: both"></div>
        </div>

        <div class="square">
            <div class="tile2">
                <a th:href="@{/orderForm.html}" target="_blank"><h1>Stwórz własną PIZZE!!!</h1></a>
                <img th:src="@{/images/pizza.jpeg}" >
            </div>
            
            <div style="clear: both"></div>
        </div>
        
        <div class="rectangle">
            <h3>2023 &copy; Najlepsza pizzzeria pod słońcem.</h3>
        </div>

    </div>

</body>
</html>
